@model IEnumerable<P2_2020_CP_601_2020_GH_601_2020_CG_650.Models.departamentos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_departamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_departamentos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_departamentos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_departamentos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
